<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wichat.mybatis.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.wichat.entity.User">
        <id column="u_id" jdbcType="INTEGER" property="id" />
        <result column="u_account" jdbcType="VARCHAR" property="account" />
        <result column="u_password" jdbcType="VARCHAR" property="password" />
    </resultMap>
    <sql id="Base_Column_List">
        u_id, u_account, u_password
    </sql>
    <select id="queryByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    	select
    		u_id,u_account
    	from user
    	<trim prefix="WHERE" prefixOverrides="AND|OR">
    		<if test="account != null">
    			and u_account = #{account,jdbcType=VARCHAR}
    		</if>
    		<if test="password != null">
    			and u_password = #{password,jdbcType=VARCHAR}
    		</if>
    	</trim>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from user
        where u_id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user
        where u_id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wichat.entity.User">
        insert into user (u_id, u_account, u_password
            )
        values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
            )
    </insert>
    <insert id="insertSelective" parameterType="com.wichat.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                u_id,
            </if>
            <if test="account != null">
                u_account,
            </if>
            <if test="password != null">
                u_password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wichat.entity.User">
        update user
        <set>
            <if test="account != null">
                u_account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                u_password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where u_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wichat.entity.User">
        update user
        set u_account = #{account,jdbcType=VARCHAR},
            u_password = #{password,jdbcType=VARCHAR}
        where u_id = #{id,jdbcType=INTEGER}
    </update>
</mapper>