<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wichat.mybatis.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.wichat.entity.User">
        <id column="u_id" jdbcType="INTEGER" property="id" />
        <result column="u_account" jdbcType="VARCHAR" property="account" />
        <result column="u_password" jdbcType="VARCHAR" property="password" />
        <result column="u_nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="u_avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
        <result column="u_create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="u_effective" jdbcType="INTEGER" property="effective" />
    </resultMap>
    <sql id="Base_Column_List">
        u_id, u_account, u_password, u_nickname, u_avatar_url, u_create_time, u_effective
    </sql>
    
     <select id="queryByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    	select
   		<include refid="Base_Column_List" />
    	from user
    	<trim prefix="WHERE" prefixOverrides="AND|OR">
    		<if test="account != null">
    			and u_account = #{account,jdbcType=VARCHAR}
    		</if>
    		<if test="password != null">
    			and u_password = #{password,jdbcType=VARCHAR}
    		</if>
    	</trim>
    </select>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from user
        where u_id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user
        where u_id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wichat.entity.User">
        insert into user (u_id, u_account, u_password, 
            u_nickname, u_avatar_url, u_create_time, 
            u_effective)
        values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
            #{nickname,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
            #{effective,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.wichat.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                u_id,
            </if>
            <if test="account != null">
                u_account,
            </if>
            <if test="password != null">
                u_password,
            </if>
            <if test="nickname != null">
                u_nickname,
            </if>
            <if test="avatarUrl != null">
                u_avatar_url,
            </if>
            <if test="createTime != null">
                u_create_time,
            </if>
            <if test="effective != null">
                u_effective,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="avatarUrl != null">
                #{avatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="effective != null">
                #{effective,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wichat.entity.User">
        update user
        <set>
            <if test="account != null">
                u_account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                u_password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                u_nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="avatarUrl != null">
                u_avatar_url = #{avatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                u_create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="effective != null">
                u_effective = #{effective,jdbcType=INTEGER},
            </if>
        </set>
        where u_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wichat.entity.User">
        update user
        set u_account = #{account,jdbcType=VARCHAR},
            u_password = #{password,jdbcType=VARCHAR},
            u_nickname = #{nickname,jdbcType=VARCHAR},
            u_avatar_url = #{avatarUrl,jdbcType=VARCHAR},
            u_create_time = #{createTime,jdbcType=TIMESTAMP},
            u_effective = #{effective,jdbcType=INTEGER}
        where u_id = #{id,jdbcType=INTEGER}
    </update>
</mapper>